########################################
######## hailuo free api ########
########################################

### Audio ###

// 环境变量 REPLACE_AUDIO_MODEL 用于存储不同语音模型的替代图片模型数组。
// 每个数组元素代表一个特定的模型，用于在语音识别或处理过程中的替代图片匹配。
const REPLACE_AUDIO_MODEL = [
    "model1",  // 重定向alloy
    "model2",  // 重定向echo
    "model3",  // 重定向fable
    "model4",  // 重定向onyx
    "model5",  // 重定向nova
    "model6"   // 重定向shimmer
];
